<!Doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico">
  <link href="h.css" type="text/css" media="screen" rel="stylesheet">
	<link href="herodetail.css" type="text/css" media="screen" rel="stylesheet">
	<title>AngularTourOfHeroes</title>
  <script src="myherojs.js"></script>
</head>
<body>

<h1>Tour of Heroes</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a href="hero.html" >Heroes</a>
</nav>



  <!-- (click) passes input value to add() and then clears the input -->
 

<div >
  <h2><span id="heroname" style="text-transform: uppercase;"></span> Details</h2>
  <div><span>id: </span><span id="heroid"></span></div>
  <div>
    <label>name:
      <input id="changenamehero" onkeyup="chan()" style="text-transform: capitalize;" placeholder="name"/>
    </label>
  </div>
  <a href="hero.html"><button>go back</button></a>
  <a href="hero.html"><button  onclick="save()">save</button></a>
  <script type="text/javascript">
    var rh = document.location.href.split ('?');
    document.getElementById("heroname").innerHTML=rh[1];
    document.getElementById("heroid").innerHTML=rh[2];
    document.getElementById("changenamehero").value=rh[1];
      function chan(){
     document.getElementById("heroname").innerHTML=document.getElementById("changenamehero").value;
   }

   function save() {
    var sv=document.getElementById("changenamehero").value;
   document.location.href = 'hero.html?'+sv+'?'+rh[2];

   }
  </script>
</div>










<div *ngIf="messageService.messages.length">

 
  <h2>Messages</h2>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
  <div *ngFor='let message of messageService.messages'>  </div>

</div>
  
</body>
</html>